body {
  margin: 0;
}


div {
	float: left;
}

#red {
	width: 100%;
	height: 200px;
	background-color: red;
}

#orange {
	width: 25%;
	height: 200px;
	background-color: orange;
}

#yellow {
	width: 50%;
	height: 200px;
	background-color: yellow;
}

#green {
	width: 25%;
	height: 200px;
	background-color: green;
}

#blue {
	width: 50%;
	height: 200px;
	background-color: blue;
}

#indigo {
	width: 50%;
	height: 200px;
	background-color: indigo;
}

#purple {
	width: 100%;
	height: 200px;
	background-color: purple;
}